<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="/page/1">
        <img src="/img/hoseo.png" alt="호서직업능력개발원"
            style="height: 40px; margin-left: 50px; margin-right: 100px;">
    </a>
    <ul class="nav mr-auto">
        <li class="nav-item">
            <a class="nav-link text-white" href="/page/1">홈
            <i class="fas fa-home"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="<%- uname ?  '/logout' : '/login' %>"> 
                <%- uname ?  '로그아웃' : '로그인'  %>
            <i class="fas fa-sign-in-alt"></i></a>
        </li>
        <% if (uname) { %>
            <li class="nav-item" style="padding-left:50px">
                <a class="nav-link text-white" href="<%- uname === '관리자' ?  '/user/getUsers/1' : '/user/myPage' %>">
                    <%- uname === '관리자' ?  '사용자 관리' : '마이페이지'  %>
                <i class="fas fa-tasks"></i></a>
            </li> 
        <% } %>
    </ul>
    <form class="form-inline" action="/search" method="post">
        <input type="text" class="form-control" name="search" id="search" placeholder="검색어를 입력하세요.">
        <button type="submit" class="btn btn-sm text-white">
            <i class="fas fa-search"></i>
        </button>
    </form>
    &nbsp;&nbsp;&nbsp;&nbsp;

    <div class="navbar-text fixed-right" id="weather">
        <%- uname === '관리자' ?  '관리자' : '일반 사용자 ' %>
        님 반갑습니다.&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fas fa-cloud-sun"></i> 20&deg;C
    </div>
</nav>  
    